[submodule "CommonLibs"]
	path = CommonLibs
	url = https://github.com/stoked-security/CommonLibs.git
	branch = 5.0
[submodule "NodeManager"]
	path = NodeManager
	url = https://github.com/stoked-security/NodeManager.git
	branch = 5.0
